<% include ./partials/header %>

    <% include ./profile %>
       <section id="wrapper" class="main_home">
    <ol class="list_view">
        <li class="list_item">
            <div class="list-header">
                <div class="_bubble">
                    <img id="about_img" src="/static/printer.svg">
                </div>
            </div>
            <div class="list-detail">
                <div class="about_title">
                    <h3>Hello</h3>
                </div>
                <p class="_summary">
                My name is VetrivelCsamy And I'm a digital superhero!
                Aside from the usual flying, iron-melting-lazer-eyes and super-human strength that all self-respecting 
                comic book heroes come with, my superpowers also include
                <a  href="https://en.wikipedia.org/wiki/HTML5">HTML5 & CSS,</a>
                <a  href="https://en.wikipedia.org/wiki/JavaScript">JavaScript,</a>
                <a  href="https://en.wikipedia.org/wiki/Node.js">NodeJS,</a>
                <a  href="https://en.wikipedia.org/wiki/Firebase">Firebase</a>
                </p>
            </div>
        </li>
        <li class="list_item">
            <div class="list-header">
                <div class="_bubble">
                    <img id="about_img" src="/static/wrench.svg">
                </div>
            </div>
            <div class="list-detail">
                <div class="about_title">
                    <h3>My Web Philosophy</h3>
                </div>
                <p class="_summary">
                I love organisation. When I was at university, my favourite part about revising was the organisation of all my files, work and research, because 
                I know how off-putting it is when information is badly presented and poorly structured. Okay, so I'm a geek...
                But there’s little doubt that this obsession with well-structured content has hitched a ride with me en-route to becoming a web developer. 
                In fact there is no doubt whatsoever. That’s probably why all of my websites are created with content, accessability and usability in mind.
                </p>
            </div>
        </li>
        
    </ol>
    <footer id="footer">
        <p class="small">© Copyright
            <script>
                document.write(new Date().getFullYear())
            </script> Vetrivel Csamy</p>
    </footer>
</section>

<% include ./partials/footer %>