<div class="about_me">
     <section id="wrappper">
         <header id="profile_head">
              <a href="/">
                <img id="profile_picture" src="/static/avataaars.svg" alt="avatar">
              </a>
              <h1>Vetrivel Csamy</h1>
              <h2>The Guy Know's How to <span id="txt_highlight"><em class="accent--text">Design & Code</em></span></h2>
         </header>
     </section>
</div>
